<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuovo Appuntamento</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<header class="header-main">
		       <img src="images/logo-healconnect.png" alt="Logo HealConnect" class="logo" />
		       <div class="header-content">
		           <h1 class="titolo-home">Crea appuntamento</h1>
		           <nav class="nav">
		               <a class="nav-link" th:href="@{/home}">Home</a>
		               <a class="nav-link" th:href="@{/profile}">Profilo</a>
		               <a class="nav-link" th:href="@{/logout}">Logout</a>
		           </nav>
		       </div>
	</header>
		   
    <h1>Nuovo Appuntamento</h1>

	<form th:action="@{/appointment}" th:object="${item}" method="post">

	    <!-- DATA -->
	    <div>
	        <label for="date">📅 Data:</label>
	        <input type="date" id="date" th:field="*{date}" required />
	        <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
	    </div>
		
		<input type="hidden" th:field="*{bookingDate}" />

	    <!-- ORARIO -->
	    <div>
	        <label for="time">🕒 Orario:</label>
	        <input type="time" id="time" th:field="*{time}" required />
	        <div th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></div>
	    </div>

	    <!-- PAZIENTE -->
	    <div>
	        <label for="patient">🧑‍⚕️ Paziente:</label>
	        <select id="patient" th:field="*{patient.id}" required>
	            <option value="">Seleziona un paziente</option>
	            <option th:each="patient : ${patients}"
	                    th:value="${patient.id}"
	                    th:text="${patient.user.name} + ' ' + ${patient.user.surname}">
	            </option>
	        </select>
	        <div th:if="${#fields.hasErrors('patient')}" th:errors="*{patient}"></div>
	    </div>

	    <!-- DOTTORE -->
	    <div>
	        <label for="doctor">🩺 Dottore (Cognome):</label>
	        <select id="doctor" th:field="*{doctor.id}" required>
	            <option value="">Seleziona un dottore</option>
	            <option th:each="doctor : ${doctors}"
	                    th:value="${doctor.id}"
	                    th:text="${doctor.user.name} + ' ' + ${doctor.user.surname} + ' - ' + ${doctor.specialty}">
	            </option>
	        </select>
	        <div th:if="${#fields.hasErrors('doctor')}" th:errors="*{doctor}"></div>
	    </div>

	    <!-- SUBMIT -->
	    <div>
	        <button type="submit">💾 Salva</button>
	    </div>

	</form>
    <a th:href="@{/appointment}">← Torna alla lista appuntamenti</a>

</body>
</html>
