<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Appuntamenti</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

   
	<header class="header-main">
	       <img src="images/logo-healconnect.png" alt="Logo HealConnect" class="logo" />
	       <div class="header-content">
	           <h1 class="titolo-home">Cartella Medica del Paziente</h1>
	           <nav class="nav">
	               <a class="nav-link" th:href="@{/home}">Home</a>
	               <a class="nav-link" th:href="@{/profile}">Profilo</a>
	               <a class="nav-link" th:href="@{/logout}">Logout</a>
	           </nav>
	       </div>
	 </header>
	   
	   
    <main class="menu">
        <ul>
            <li>
                <a th:href="@{/appointment/new}">➕ Crea nuovo appuntamento</a>
            </li>
        </ul>

        <ul th:each="appointment : ${appointments}">
            <li>
                <strong>ID:</strong> <span th:text="${appointment.id}"></span><br />
                <strong>Data:</strong> <span th:text="${appointment.date}"></span><br />
                <strong>Orario:</strong> <span th:text="${appointment.time}"></span><br />
                <strong>Paziente:</strong> <span th:text="${appointment.patient.user.name}"></span><br />
                <strong>Dottore:</strong> <span th:text="${appointment.doctor.specialty}"></span><br /><br />
                <a th:href="@{'/appointment/' + ${appointment.id}}">🔍 Dettagli</a> |
                <a th:href="@{'/appointment/' + ${appointment.id} + '/edit'}">✏️ Modifica</a> |
                <form th:action="@{'/appointment/' + ${appointment.id} + '/delete'}" method="post" th:object="${appointment}" style="display:inline;">
                    <button type="submit" onclick="return confirm('Sei sicuro di voler eliminare questo appuntamento?')">🗑️ Elimina</button>
                </form>
            </li>
        </ul>
    </main>


    <footer>
        &copy; 2025 HealConnect - Tutti i diritti riservati
    </footer>

</body>
</html>

