<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Paziente</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    
    <header>
        <div class="header-main">
            <img src="/images/logo-healconnect.png" alt="Logo HealConnect" class="logo">
            <h1 class="titolo-home">Account Paziente</h1>
            <!--<a href="/logout" class="login-link">Logout</a>-->
			<a href="/login" class="login-link">Login</a>
			<a href="/homepage" class="login-link">Home</a>
			<a href="/doctor/list" class="login-link">Dottori</a>
        </div>
    </header>


    <main class="menu">
        <ul>
            <li><strong>Nome:</strong> <span th:text="${patient.user.name}"></span></li>
            <li><strong>Cognome:</strong> <span th:text="${patient.user.surname}"></span></li>
            <li><strong>Email:</strong> <span th:text="${patient.user.email}"></span></li>
            <li><strong>Data di nascita:</strong> <span th:text="${patient.user.birthDate}"></span></li>
        </ul>

        <h2 style="text-align: center; margin-top: 30px;">I tuoi appuntamenti</h2>

        <ul th:if="${#lists.isEmpty(patient.appointments)}" style="text-align: center; margin-top: 20px;">
            <li>Non hai appuntamenti al momento.</li>
        </ul>

       <ul th:each="appointment : ${patient.appointments}">
            <li>
              <strong>Data:</strong> <span th:text="${appointment.date}"></span><br />
                <strong>Orario:</strong> <span th:text="${appointment.time}"></span><br />
                 <!--<strong>Medico:</strong> 
				<th:block th:if="${appointment.doctor != null and appointment.doctor.user != null}">
				    <span th:text="${appointment.doctor.user.name + ' ' + appointment.doctor.user.surname}"></span>
				</th:block>
				<th:block th:unless="${appointment.doctor != null and appointment.doctor.user != null}">
				    <span>Medico non disponibile</span>
				</th:block>

                <a th:href="@{'/appointment/' + ${appointment.id}}">🔍 Dettagli</a> |
                <a th:href="@{'/appointment/' + ${appointment.id} + '/edit'}">✏️ Modifica</a> |
                <form th:action="@{'/appointment/' + ${appointment.id} + '/delete'}" method="post" th:object="${appointment}" style="display:inline;">
                    <button type="submit" onclick="return confirm('Vuoi davvero cancellare questo appuntamento?')">🗑️ Elimina</button>
                </form>--> 
            </li>
        </ul>
    </main>


    <footer>
        &copy; 2025 HealConnect - Tutti i diritti riservati
    </footer>

</body>
</html>
