<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Lista Medicinali</title>
    <link rel="stylesheet" th:href="@{/css/medicinali.css}">
</head>
<body>

    
	<header class="header-main">
	        <img src="/images/logo-healconnectGreen.png" alt="Logo HealConnect" class="logo" />
	        <div class="header-content">
	            <h1 class="titolo-home">Medicinali</h1>
	            <nav class="nav">
	                <a class="nav-link" th:href="@{/}">Home</a>
	                <a class="nav-link" th:href="@{/profile}">Profilo</a>
	                <a class="nav-link" th:href="@{/logout}">Logout</a>
	            </nav>
	        </div>
	    </header>


    <main class="record-container">
        <section class="prescriptions">
            <h2>Descrizione Medicinale</h2>
       
                    <h3 th:text="${medication.name}">Nome medicinale</h3>
                    <p th:text="${medication.description}">Descrizione del medicinale</p>
                    <div th:if="${medication.imageUrl != null}">
                        <img th:src="@{${medication.imageUrl}}" alt="Immagine medicinale" style="max-width: 150px; margin-top: 10px;">
                    </div>
            
        </section>
		
		
    </main>

 
    <footer>
        <p>&copy; 2025 HealConnect. Tutti i diritti riservati.</p>
    </footer>

</body>
</html>
