<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage HealConnect</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header-main">
    <img src="/images/logo-healconnect.png" alt="Logo HealConnect" class="logo">
    <h1 class="titolo-home">Benvenuto in <span class="highlight">HealConnect</span></h1>
    <nav class="nav">
      <a href="/home" class="nav-link">Home</a>
      <a href="/doctor" class="nav-link">Dottori</a>
      <a href="/profile" class="nav-link">Profilo</a>
      <a href="/logout" class="nav-link">Logout</a>
    </nav>
  </header>
  
    <main>
        <nav class="menu">
            <ul>
                <li><a th:href="@{/doctor}">👨‍⚕️ Visualizza tutti i Dottori </a></li>
				<li><a th:href="@{'/appointment/patient/' + ${patient.id}}">📅 Visualizza i tuoi appuntamenti </a></li>
				<li><a th:href="@{'/medical-record/patient/' + ${patient.id}}">📁 Visualizza la tua cartella medica </a></li>
				<li><a th:href="@{'/patient/' + ${patient.id}}">👤 Visualizza il tuo account </a></li>
				<li><a th:href="@{/medication}">👨‍⚕️ Visualizza tutti i Medicinali </a></li>
				<li><a th:href="@{'/prescription/patient/' + ${patient.id}}">👨‍⚕️ Visualizza tutte le ricette mediche </a></li>
            </ul>
        </nav>
    </main>

  <footer>
    <p>&copy; 2025 HealConnect - Tutti i diritti riservati</p>
  </footer>
</body>
</html>
