<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage HealConnec Admint</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header-main">
    <img src="/images/logo-healconnect.png" alt="Logo HealConnect" class="logo">
    <h1 class="titolo-home">Benvenuto Admin in <span class="highlight">HealConnect</span></h1>
    <nav class="nav">
      <a href="/home" class="nav-link">Home</a>
      <a href="/doctor" class="nav-link">Dottori</a>
      <a href="/login" class="nav-link">Login</a>
    </nav>
  </header>
  
    <main>
        <nav class="menu">
            <ul>
                <li><a th:href="@{/doctor}">👨‍⚕️ Visualizza tutti i Dottori </a></li>
				<li><a th:href="@{/medication}">👨‍⚕️ Visualizza tutti i Medicinali </a></li>
				
            </ul>
        </nav>
    </main>

  <footer>
    <p>&copy; 2025 HealConnect - Tutti i diritti riservati</p>
  </footer>
</body>
</html>
