<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Dottori</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


	<header class="header-main">
	        <img src="/images/logo-healconnect.png" alt="Logo HealConnect" class="logo" />
	        <div class="header-content">
	            <h1 class="titolo-home">Lista Dottori</h1>
	            <nav class="nav">
	                <a class="nav-link" th:href="@{/}">Home</a>
	                <a class="nav-link" th:href="@{/profile}">Profilo</a>
	                <a class="nav-link" th:href="@{/logout}">Logout</a>
	            </nav>
	        </div>
	    </header>

    <main class="menu">
        <ul>
            <li>
                <a th:href="@{/doctor/new}">➕ Crea nuovo dottore</a>
            </li>
        </ul>

        <ul th:each="doctor : ${doctors}">
            <li>
                <strong>ID:</strong> <span th:text="${doctor.id}">1</span><br />
                <strong>Specializzazione:</strong> <span th:text="${doctor.specialty}">Cardiologia</span><br /><br />
                <a th:href="@{'/doctor/' + ${doctor.id}}">🔍 Dettagli</a> |
                <a th:href="@{'/doctor/' + ${doctor.id} + '/edit'}">✏️ Modifica</a> |
                <form th:action="@{'/doctor/' + ${doctor.id} + '/delete'}" method="post" th:object="${doctor}" style="display:inline;">
                    <button type="submit" onclick="return confirm('Sei sicuro di voler eliminare questo dottore?')">🗑️ Elimina</button>
                </form>
            </li>
        </ul>
    </main>


    <footer>
        &copy; 2025 HealConnect - Tutti i diritti riservati
    </footer>

</body>
</html>
