<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Dottori</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


	<header class="header-main">
	        <img src="/images/logo-healconnect.png" alt="Logo HealConnect" class="logo" />
	        <div class="header-content">
	            <h1 class="titolo-home">Lista Dottori</h1>
	            <nav class="nav">
	                <a class="nav-link" th:href="@{/home}">Home</a>
	                <a class="nav-link" th:if="${user.credentials.role.name() != 'ADMIN'}" th:href="@{/profile}">Profilo</a>
	                <a class="nav-link" th:href="@{/login}">Logout</a>
	            </nav>
	        </div>
	    </header>

    <main class="menu">
        <ul>
            <li>
                <a th:href="@{/doctor/new}">➕ Crea nuovo dottore</a>
            </li>
        </ul>

        <ul th:each="doctor : ${doctors}">
            <li>
                <strong>Nome:</strong> <span th:text="${doctor.user.name + ' ' + doctor.user.surname}"></span><br />
                <strong>Specializzazione:</strong> <span th:text="${doctor.specialty}"></span><br /><br />
				<div class="doctor-actions">
				    <a class="action-button" th:href="@{'/doctor/' + ${doctor.id}}">🔍 Dettagli</a>
				    <a class="action-button" th:href="@{'/doctor/' + ${doctor.id} + '/edit'}">✏️ Modifica</a>
				    <form th:action="@{'/doctor/' + ${doctor.id} + '/delete'}" method="post" th:object="${doctor}" class="inline-form">
				        <button type="submit" class="delete-button" onclick="return confirm('Sei sicuro di voler eliminare questo dottore?')">🗑️ Elimina</button>
				    </form>
				</div>
            </li>
        </ul>
    </main>


    <footer>
        &copy; 2025 HealConnect - Tutti i diritti riservati
    </footer>

</body>
</html>
